<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>Inserta informacion para el inicio</h3>
    <form action="/info/add" method="POST">
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo" placeholder="Ingresa tu titulo">
        </div>
        <div>
            <label for="informacion">informacion</label>
            <textarea name="informacion" id="informacion" placeholder="Inserta una informacion" class="form-control rounded-0 bg-dark text-white"></textarea>
        </div>
        <button class="btn btn-outline-success btn-sm mt-2">Agregar</button>    
    </form>
</div>