
<div class="banner-imagePlay w-100 vh-100 d-flex justify-content-center align-items-center block-scroll">
    <div class="container swiper mySwiper ">
      <div class="swiper-wrapper contenedor">
        {{#each carteleras}}
        <figure class="swiper-slide">
          <img src="{{imageURL}}" href="" alt="" class="">
          <div class="capa colorv"><h3>Información</h3>
            <p><br>Nombre de la Pelicula: <br>{{pelicula}}<br><br>
            Sinopsis:<br>{{sinopsis}}<br><br>
            Precio del Boleto:<br>${{precio}}
          </p></div>
        </figure>
        
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
      {{#if perfil}}
      <div class="mt-3">
            <a href="/editCartelera"><button>Editar</button></a>
      </div>
      {{/if}}
    </div>
    
</div>

