<div class="banner-imageComen w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                {{> comentarios/comentarioForm}}
            </div>
            <div class="col-md-7 div2">
                {{> comentarios/comentarioTable}}
            </div>
        </div>
        {{#if perfil}}
        <div class="mt-3">
            <a href="/editComen" style="--clr:#ffef3e"><span>Editar Sugerencias</span><i></i></a>
        </div>   
        {{/if}}
    </div> 
</div>
