    <!-- Banner Image  -->
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
      <div class="content text-center">
        <h1 class="text-white">BIENVENIDO A CINEPLUS</h1>
      </div>
    </div>

<div class="block glow textcenter">
    <h1 class="blanco">Bienvenido al portal de CinePlus</h1>
</div>