
<div class="banner-imagePlay w-100 vh-100 d-flex justify-content-center align-items-center block-scroll">
   <div class="container">
        <div class="capa colorv"><h3>Información</h3>
            <p><br>Nombre de usuario: <br>{{nombre}}<br><br>
            Correo:<br>{{correo}}<br><br>
            Numero de Telefono:<br>{{telefono}}
          </p></div>
   </div>
    
</div>