
<div class="block glow">
    <div class="col-md-8 mx-auto justify-content-center align-items-center w-100 d-flex">
        <img src="/img/logo2.png" class="rounded-circle d-block m-3 logo" style="background-color: rgba(128, 128, 128, 0.263);">
        <div class="blanco mt-5 text-center"><h3>Información</h3>
            <p><br>Nombre de usuario: <br>{{nombre}}<br><br>
            Correo:<br>{{correo}}<br><br>
            Numero de Telefono:<br>{{telefono}}
          </p></div>
         
   </div>
    
</div>

<div class="mx-auto justify-content-center align-items-center w-100 d-flex mt-3">
         <a href="/editPerfil" style="--clr:#26e0e0"><span>Editar mi informacion</span><i></i></a>
</div>
{{#if perfil}}
<div class="mx-auto justify-content-center align-items-center w-100 d-flex mt-3">
         <a href="/info" style="--clr:#1e9bff"><span>Editar Inicio</span><i></i></a>
</div>
{{/if}}
