.banner-image {
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
}

.swiper {
    width: 600px;
    height: 300px;
}

.banner-imageFood {
    background-image: url('../img/fondocomida.jpg');
    background-size: cover;
}
.banner-imagePlay {
    background-image: url('../img/fondoplay.jpg');
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: black;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 80%
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.blanco { color: #ffffff; }

.gris{
    background-color: rgb(22, 22, 22);
}

.transparente{
    background-color: transparent;
}

.verde{
    background-color: #00ff4c;
    opacity: 85%;
}

.separar{
    top: 20px;
}
.block{
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 380px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}
.glow::before , .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00FF, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.logo {
    width: 30%;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
}

.textcenter{
    text-align: center;
}

.container-gallery
{
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
}

.popup
{
    width: 250px;
    margin: 0 -25px;
    position: relative;
    box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer;
}

.popup:hover
{
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
    transform: translateZ(5px) translateY(-20px) scale(1.05);
}

.popup-1,
.popup-4
{
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
}

.popup-2,
.popup-5
{
    -webkit-transform: translateZ(2px) translateY(-5px);
    transform: translateZ(2px) translateY(-5px);
}

.popup-3
{
    -webkit-transform: translateZ(3px) translateY(-10px);
    transform: translateZ(3px) translateY(-10px);
}

.popup-1:hover ~ .popup-2
{
    -webkit-transform: translateZ(4px) translateY(-15px);
    transform: translateZ(4px) translateY(-15px);
    -webkit-transition: .2s;
    transition: .2s;
}

.popup-4
{
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.popup-4:hover ~ .popup-5
{
    -webkit-transform: translateZ(3px) translateY(-15px);
    transform: translateZ(3px) translateY(-15px);
    -webkit-transition: .1s;
    transition: .1s;
}

.containeri {
    width: 240px;
    height: 400px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.containeri > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}