<div class="container-gallery">
    <div class="popup popup-1 containeri">
        <a title="imagen1" href="/tarea"><img class="img-responsive crop containeri" alt="Pop Up Gallety" src="/img/doritos.png" /></a>
    </div>
    <div class="popup popup-2 containeri">
        <img class="img-responsive crop containeri" alt="Pop Up Gallety" src="/img/Palomitas.jpg" />
    </div>
    <div class="popup popup-3 containeri">
        <img class="img-responsive crop containeri" alt="Pop Up Gallety" src="/img/palomitas2.png" />
    </div>
    <div class="popup popup-4 containeri">
        <img class="img-responsive crop containeri" alt="Pop Up Gallety" src="/img/palomitas.jpg" />
    </div>
    <div class="popup popup-5 containeri">
        <img class="img-responsive crop containeri" alt="Pop Up Gallety" src="/img/combo.png" />
    </div>
</div>
