<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
      <div class="container">
        <a class="navbar-brand" style="--clr:#1e9bff" href="/"><span>CinePlus</span><i></i></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav">
            {{#if user}}
                
                <li class="nav-item">
                    <a style="--clr:#ff3e3e" href="/snack"><span>Snacks</span><i></i></a>
                </li>
                <li class="nav-item ">
                    <a style="--clr:#6eff3e" href="/cartelera"><span>Cartelera</span><i></i></a>
                </li>
                <li class="nav-item">
                    <a style="--clr:#ffef3e" href="/comentario"><span>Sugerencias</span><i></i></a>
                </li>
                <li class="nav-item">
                    <a style="--clr:#26e0e0" href="/miPerfil"><span>Perfil</span><i></i></a>
                </li>
                <li class="nav-item ">
                    <a style="--clr:#ff3e3e" href="/users/logout"><span>Cerrar Sesion</span><i></i></a>
                </li>
                {{else}}
                <li class="nav-item ">
                    <a style="--clr:#1e9bff" href="/users/signin"><span>Iniciar Sesion</span><i></i></a>
                </li>
                <li class="nav-item ">
                    <a style="--clr:#6eff3e" href="/users/signup"><span>Registarse</span><i></i></a>
                </li>
                {{/if}}
          </ul>
        </div>
      </div>
    </nav>

 <script type="text/javascript">
      var nav = document.querySelector('nav');

      window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
          nav.classList.add('bg-dark', 'shadow');
        } else {
          nav.classList.remove('bg-dark', 'shadow');
        }
      });
    </script>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">Cine Plus</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{#if user}}
                <li class="nav-item active">
                    <a class="nav-link" href="/Tarea">Tarea</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/examen">Examen</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/signin">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/signup">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>

</nav>

 -->