<div class="block glow">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card transparente"  >
                <div class="card-header blanco textcenter">
                    Iniciar Sesion
                </div>
                <img src="/img/logo.png" class="rounded-circle mx-auto d-block m-4 logo" style="background-color: gray;">
                <div class="card-body" >
                    <form action="/users/signin" method="POST">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Ingresa Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Ingresa tu Contraseña">
                        </div>
                        <button class="btn btn-primary btn-block mt-2">
                            Iniciar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>